* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.ranking {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

#ranking-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rank-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
}

.rank-item span {
    font-size: 1.2rem;
    font-weight: bold;
    flex: 0 0 50px; /* Largura fixa para o número da posição */
    text-align: center;
}

.rank-item p {
    margin: 0;
    font-size: 0.9rem; /* Fonte menor */
    font-weight: bold; /* Negrito */
    flex: 1; /* Flexível para ocupar o espaço restante */
    text-align: center;
}

.rank-item .seg {
    font-size: 0.8rem;
    color: #777;
    flex: 0 0 80px; /* Largura fixa para o tempo */
    text-align: center;
}

.rank-item.first {
    background-color: #121212;
    color: #FFD700; /* Ouro */
    border: 1px solid #FFD700;
}

.rank-item.second {
    background-color: #121212;
    color: #C0C0C0; /* Prata */
    border: 1px solid #C0C0C0;
}

.rank-item.third {
    background-color: #121212;
    color: #FF4500; /* Vermelho */
    border: 1px solid #FF4500;
}

.rank-item.normal {
    background-color: #121212;
    color: white;
    border: 1px solid #444;
}

.rank-item.current-user {
    margin-top: 10px;
    background-color: #121212;
    color: white;
    border: 1px solid #ffffff;
}

@media (max-width: 768px) {
    .ranking {
        width: 100%;
        padding: 10px;
    }

    .rank-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .rank-item span {
        font-size: 1rem;
    }

    .rank-item p {
        font-size: 0.8rem; /* Fonte menor */
    }

    .rank-item .seg {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .ranking {
        width: 100%;
        padding: 5px;
    }

    .rank-item {
        padding: 5px;
    }

    .rank-item span {
        font-size: 0.9rem;
    }

    .rank-item p {
        font-size: 0.7rem; /* Fonte menor */
    }

    .rank-item .seg {
        font-size: 0.7rem;
    }
}