body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.ranking {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.rank-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    background-color: #1e1e1e;
    border: 1px solid #444;
}

.rank-item.first {
    background-color: #FFD700; /* Gold */
    color: black;
}

.rank-item.second {
    background-color: #C0C0C0; /* Silver */
    color: black;
}

.rank-item.third {
    background-color: #CD7F32; /* Bronze */
    color: black;
}

.rank-item.current-user {
    background-color: #121212;
    color: white;
    border: 2px solid #fff;
}

.seg {
    font-size: 0.8rem;
    color: #777;
}